.moviesList{


    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap:wrap;
    margin: 0;
padding-bottom: 20px;
    background-attachment: fixed;
}
.cardBlock {

margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardBlock:hover,

.cardBlock:focus{
    box-shadow: 0 10px 15px 2px rgba(100,50,92, 0.60);
    transition: 0.4s linear;

}
.link{

    cursor: pointer
}


.Page{
    display: flex;
    justify-content: start;
    font-size: 20px;
    padding-left: 5px;
}
h2{
    display: flex;
    justify-content: center;
}
.wrapper{
    padding-top: 20px;
margin-left: 20px;
    display: flex;
    flex-direction: row;

}
.Info{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 25px;
}
button{
    width: 100px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.Home{
    display: flex;
    flex-direction: column;

}
.Title{
    display: flex;
    justify-content: center;
    color: #535bf2;
}
.button{
    font-size: 20px;
}


