.Header{
    width: 100vw;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    align-items: center;
    font-size: 50px;
    margin: 0;
}

.Header a{
    text-decoration: none;
    color: snow;
}
.Header a[class='active']{
    color: rgb(64, 231, 231);
}